html {
    width: 100%;
    margin: 0;
    overflow-x: hidden
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

@keyframes slideinleft {
    0% {
        opacity: 0
    }

    50% {
        opacity: 0;
        transform: translatex(-5%)
    }

    100% {
        opacity: 1
    }
}

@keyframes slideinright {
    0% {
        opacity: 0
    }

    50% {
        opacity: 0;
        transform: translatex(5%)
    }

    100% {
        opacity: 1
    }
}

@keyframes slideindown {
    0% {
        opacity: 0
    }

    75% {
        opacity: 0;
        transform: translatey(5%)
    }

    100% {
        opacity: 1
    }
}

.flex-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    flex: 1 0 auto;
}

a {
    color: #428BCA;
    text-decoration: none
}

.name {
    font-family: 'Open Sans',sans-serif;
    font-size: 128px;
    text-align: right;
    font-weight: 500;
    line-height: 1.1;
    color: #333
}

.title {
    font-family: 'Roboto',sans-serif;
    font-size: 38px;
    line-height: 1.1;
    font-weight: 500;
    color: #333;
    text-align: right;
}

p {
    font-family: 'Open Sans',sans-serif;
    font-size: 30px;
    padding-top: 10px;
    line-height: 175%;
    text-align: justify
}

.left {
    animation-duration: 1s;
    animation-name: slideinleft;
    display: block;
    flex-basis: 40%;
}

.right {
    animation-duration: 1s;
    animation-name: slideinright;
    flex-basis: 30%;
    margin-left: 5%;
}

footer {
    padding-left: 1.55%;
    padding-right: 1.55%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #1b1919;
    font-family:Roboto;
    color:#fff
}

.footer-content {
    animation-duration: 2s;
    animation-name: slideindown
}

.getintouch {
    text-align:center; 
    font-size:64px;
}

.email {
    font-size: 32px
}

img {
    float:left; 
    margin-right:10px;
    height: 64px;
    align-self: center
}

@media (max-width: 2200px) {
    .name {
        font-size:100px
    }

    .title {
        font-size: 30px
    }

    p {
        font-size: 24px
    }
}

@media (max-width: 1700px) {
    .name {
        font-size:72px
    }

    .title {
        font-size: 23px
    }

    p {
        font-size: 17px
    }
}

@media (max-width: 1350px) {
    p {
        font-size:15px
    }
}

@media (max-width: 900px) {
    .name {
        font-size:60px
    }

    .title {
        font-size: 19px
    }

    p {
        font-size: 12px
    }
}

@media (max-width: 740px) {
    .name {
        font-size:52px
    }

    .title {
        font-size: 17px
    }

    p {
        font-size: 10px
    }
}

@media (max-width: 645px) {
    .flex-container {
        display:block
    }

    .name {
        margin-top: 20px;
        font-size: 64px;
        text-align: center
    }

    .title {
        font-size: 23px;
        text-align: center
    }

    .right {
        margin-right: 5%
    }

    p {
        font-size: 17px;
    }

    @keyframes slideinleft {
        0% {
            opacity: 0
        }

        50% {
            opacity: 0;
            transform: translatey(-15%)
        }

        100% {
            opacity: 1;
            transform: none
        }
    }

    @keyframes slideinright {
        0% {
            opacity: 0
        }

        50% {
            opacity: 0
        }

        100% {
            opacity: 1
        }
    }
}

@media (max-height: 1540px) {
    .getintouch {
        font-size:64px
    }

    .email {
        font-size: 32px
    }

    img {
        height: 64px
    }
}

@media (max-height: 1100px) {
    .getintouch {
        font-size:44px
    }

    .email {
        font-size: 22px
    }

    img {
        height: 44px
    }
}

@media (max-height: 770px) {
    .getintouch {
        font-size:32px
    }

    .email {
        font-size: 16px
    }

    img {
        height: 32px
    }
}

@media (max-height: 440px) and (min-width: 646px) {
    .getintouch {
        font-size:20px
    }

    .email {
        font-size: 10px
    }

    img {
        height: 20px
    }
}