html {
    width: 100%;
    margin: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.flex-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    flex: 1 0 auto;
}

.name {
    font: 500 128px/1.1 'Open Sans', sans-serif;
    text-align: right;
    color: #2f2f2f;
}

.title {
    font: 500 38px/1.1 'Roboto', sans-serif;
    text-align: right;
    color: #2f2f2f;
}

p {
    font: 30px/1.75 'Open Sans', sans-serif;
    padding-top: 10px;
    text-align: justify;
}

.left {
    animation-duration: 1s;
    animation-name: slideinleft;
    -webkit-animation-duration: 1s;
    -webkit-animation-name: slideinleft;
    display: block;
    flex-basis: 40%;
}

.right {
    animation-duration: 1s;
    animation-name: slideinright;
    -webkit-animation-duration: 1s;
    -webkit-animation-name: slideinright;
    flex-basis: 30%;
    margin-left: 5%;
}

footer {
    padding: 0 1.55% 20px;
    background-color: #1b1919;
    font-family: Roboto;
    color: #fff;
}

.footer-content {
    animation-duration: 2s;
    animation-name: slideindown;
    -webkit-animation-duration: 2s;
    -webkit-animation-name: slideindown;
}

.get-in-touch {
    text-align: center; 
    font-size: 64px;
    line-height: 1.75;
}

.email {
    font-size: 32px;
}

img {
    float: left; 
    margin-right: 10px;
    height: 64px;
    align-self: center;
}

a {
    color: #3d8db5;
    text-decoration: none;
}

/* Animations */

@keyframes slideinleft {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
        transform: translatex(-5%);
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes slideinleft {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
        transform: translatex(-5%);
    }

    100% {
        opacity: 1;
    }
}

@keyframes slideinright {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
        transform: translatex(5%);
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes slideinright {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
        transform: translatex(5%);
    }

    100% {
        opacity: 1;
    }
}

@keyframes slideindown {
    0% {
        opacity: 0;
    }

    75% {
        opacity: 0;
        transform: translatey(5%);
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes slideindown {
    0% {
        opacity: 0;
    }

    75% {
        opacity: 0;
        transform: translatey(5%);
    }

    100% {
        opacity: 1;
    }
}

/* Different resolutions */

@media (max-width: 2200px) {
    .name {
        font-size: 100px;
    }

    .title {
        font-size: 30px;
    }

    p {
        font-size: 24px;
    }

    .get-in-touch {
        font-size: 44px;
    }

    .email {
        font-size: 22px;
    }

    img {
        height: 44px;
    }
}

@media (max-width: 1700px) {
    .name {
        font-size: 90px;
    }

    .title {
        font-size: 29px;
    }

    p {
        font-size: 19px;
    }

    .get-in-touch {
        font-size: 40px;
    }

    .email {
        font-size: 20px;
    }

    img {
        height: 40px;
    }
}

@media (max-width: 1350px) {
    .name {
        font-size: 72px;
    }

    .title {
        font-size: 23px;
    }

    p {
        font-size: 15px;
    }

    .get-in-touch {
        font-size: 32px;
    }

    .email {
        font-size: 16px;
    }

    img {
        height: 32px;
    }
}

@media (max-width: 900px) {
    .name {
        font-size: 60px;
    }

    .title {
        font-size: 19px;
    }

    p {
        font-size: 12px;
    }

    .get-in-touch {
        font-size: 20px;
    }

    .email {
        font-size: 10px;
    }

    img {
        height: 20px;
    }
}

@media (max-width: 740px) {
    .name {
        font-size: 52px;
    }

    .title {
        font-size: 17px;
    }

    p {
        font-size: 10px;
    }

    footer {
        padding-bottom: 10px;
    }
}

@media (max-width: 645px) {
    .flex-container {
        display: block;
    }

    .name {
        margin-top: 20px;
        font-size: 64px;
        text-align: center;
    }

    .title {
        font-size: 23px;
        text-align: center;
    }

    .right {
        margin-right: 5%;
    }

    p {
        font-size: 17px;
    }

    .get-in-touch {
        font-size: 32px;
    }

    .email {
        font-size: 16px;
    }

    img {
        height: 32px;
    }

    /* Animations */

    @keyframes slideinleft {
        0% {
            opacity: 0;
        }

        50% {
            opacity: 0;
            transform: translatey(-15%);
        }

        100% {
            opacity: 1;
        }
    }

    @-webkit-keyframes slideinleft {
        0% {
            opacity: 0;
        }

        50% {
            opacity: 0;
            transform: translatey(-15%);
        }

        100% {
            opacity: 1;
        }
    }

    @keyframes slideinright {
        0% {
            opacity: 0;
        }

        50% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @-webkit-keyframes slideinright {
        0% {
            opacity: 0;
        }

        50% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
}